<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Medi Olympiad </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/fontawesome/font-awesome.min.css' %}">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/bootstrap/grid.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/YTPlayer/css/jquery.mb.YTPlayer.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/vegas/vegas.min.css' %}">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Work+Sans:300,400,500,700">
		<link rel="stylesheet" type="text/css" id="app-stylesheet" href="{% static 'assets/css/main.css' %}">
	</head>

	<body>
		<div class="page-wrap" id="root">
			<!-- Content-->
			<div class="md-content">

				<!-- hero -->
				<div class="hero md-skin-dark" style="background-image:url(https://wallpapercave.com/wp/cAO5uXj.jpg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb);">

					<!-- header -->
					<div class="header">

						<div class="header__social">

							<!-- social-icon -->
							<a class="social-icon social-icon__rounded" href="#"><i class="fa fa-facebook"></i>
							</a><!-- End / social-icon -->


							<!-- social-icon -->
							<a class="social-icon social-icon__rounded" href="#"><i class="fa fa-twitter"></i>
							</a><!-- End / social-icon -->


						</div>
					</div><!-- End / header -->

					<div class="container">
						<div class="hero__wrapper">
							<div class="row">
								<div class="col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
									<div class="hero__title_inner">
										<span class="hero__icon"></span>
										<!-- <h1 class="hero__title">We Are Almost Ready for Launch</h1> -->

										<p class="hero__text">Loading... Please Wait</p>
									</div>
								</div>
							</div>

							<!-- countdown__module hide undefined -->
							<div class="countdown__module hide undefined" style="align:center;" data-date="2020/2/02">
								<div class="hero__title_inner">
									<h4 class="hero__title" style="color:white;border:2px;">Medical College Calicut Medi Olympiad</h4>
								</div>
								<!-- <p><span>%D</span> Days</p>
								<p><span>%H</span> Hours</p>
								<p><span>%M</span> Minutes</p>
								<p><span>%S</span> Seconds</p> -->
							</div><!-- End / countdown__module hide undefined -->

							<div class="service-wrapper">






							</div>
						</div>
					</div>
				</div><!-- End / hero -->

			</div>
			<!-- End / Content-->
		</div>
		<!-- Vendors-->
	<script>
	setTimeout("window.location.href=\"home\";", 2000);
	</script>
		<script type="text/javascript" src="{% static 'assets/vendors/_jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/vendors/jquery.countdown/jquery.countdown.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/vendors/flat-surface-shader/fss.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/vendors/particles.js/particles.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/vendors/waterpipe/waterpipe.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/vendors/quietflow/quietflow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/vendors/YTPlayer/jquery.mb.YTPlayer.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/vendors/vegas/vegas.min.js' %}"></script>
		<!-- App-->
		<script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>
